#search {
  position: relative;
  color: #666;
  display: inline-block;
  flex-direction: row;
  min-height: 30px;
  width: 240px;
  max-width: 100%;
  border: 1px solid #dcdee2;
  border-radius: 4px;
  background-color: #fff;
  outline: 0;
  box-sizing: border-box;
  transition: background-color 0.2s;
  font-size: 16px;
  padding: 4px 6px;
  margin: 3px 0;
}
