#more-filters {
  color: #666;
  border: 1px solid #666;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 4px;

  &.active,
  &:hover {
    color: #007aff;
    border: 1px solid #007aff;
  }
}
