body {
  padding: 0;
  margin: 0;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align: center;
  color: #333;
}

.app {
  width: 320px;
  display: inline-block;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  vertical-align: top;
  text-align: left;
  width: 320px;
  display: inline-block;
  border: 1px solid rgba(34, 36, 38, 0.1);
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;

  overflow: hidden;
}

#search {
  position: relative;
  color: #666;
  display: inline-block;
  flex-direction: row;
  min-height: 30px;
  width: 300px;
  border: 1px solid #dcdee2;
  border-radius: 4px;
  background-color: #fff;
  outline: 0;
  box-sizing: border-box;
  transition: background-color 0.2s;
  font-size: 16px;
  padding: 4px 6px;
}
.ss-main {
  width: 300px;
}

.app .header {
  text-align: center;
}
.app .header a {
  text-decoration: none;
  color: #333;
}

.app .name {
  font-weight: bold;
}

.app .img {
  max-width: 250px;
  max-height: 250px;
  margin: 6px 0;
}

.app .description {
  font-size: small;
}

.app .themes {
  font-size: small;
  padding-top: 4px;
}

.app .link {
  font-size: 22px;
  padding: 4px 3px;
  display: inline-block;
  color: forestgreen;
}

.app .thema {
  float: left;
  margin-bottom: 4px;
  padding: 2px 4px;
  border-radius: 4px;
  margin-right: 4px;
  white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
  html {
    filter: invert(100%) hue-rotate(180deg);
  }

  html img,
  html input[type="image"] {
    filter: invert(100%) hue-rotate(-180deg);
  }
}
