body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  width: 320px;
  display: inline-block;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
}

.app .header {
  text-align: center;
}

.app .name {
  font-weight: bold;
}

.app .img {
  max-width: 250px;
  max-height: 250px;
}

.app .description {
  font-size: small;
}

.app .themes {
  font-size: small;
  padding-top: 4px;
}

.app .thema {
  float: left;
  margin-bottom: 4px;
  padding: 2px 4px;
  border-radius: 4px;
  margin-right: 4px;
  white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
  html {
    filter: invert(100%) hue-rotate(180deg);
  }

  html img,
  html input[type="image"] {
    filter: invert(100%) hue-rotate(-180deg);
  }
}
