<!DOCTYPE html>
<html lang="{{ page.lang }}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}" />

  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="theme-color" content="#e9fce9" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
  <link rel="shortcut icon" href="/icons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="OSM Apps" />
  <link rel="manifest" href="/icons/site.webmanifest" />

  <link rel="stylesheet" href="{{
        '/assets/css/style.css?v='
          | append: site.github.build_revision
          | relative_url
      }}" />
  <style>
    @media (prefers-color-scheme: dark) {
      html {
        filter: invert(100%) hue-rotate(180deg);
      }

      html img,
      html input[type="image"] {
        filter: invert(100%) hue-rotate(-180deg);
      }
    }

  </style>

  <meta name="monetization" content="$ilp.uphold.com/BwpBDr48YqPi" />

  <script src="/serviceWorkerRegister.js"></script>

  <script data-goatcounter="https://osm-apps.goatcounter.com/count"
          data-goatcounter-settings='{"path": "/"}' async src="//gc.zgo.at/count.js"></script>
</head>

<body>
  <div class="bg-white" style="position: sticky; top: 0;">
    <a href="/" class="d-flex flex-items-center text-bold"
       style="padding: 22px 45px; color: black;">
      <img alt="OSM App Catalog" src="/assets/osm-apps-logo-small.png"
           style="width: 24px;margin-right: 10px;">
      OSM App Catalog
    </a>
    <hr class="m-0">
  </div>
  <div class="container-lg px-3 my-5 markdown-body">{{ content }}</div>

  <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
</body>

</html>
